<ion-header>
  <ion-toolbar>
    <ion-title class="co-white">
      Mission Statements
    </ion-title>
    <ion-buttons mode="ios">
      <ion-button class="co-white" mode="ios" (click)="dismissModal()">CLOSE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label class="d-block p-4 font-18 co-white">
    At Radio Rehoboth, our desire is to connect people more deeply to God, by sharing the powerful gospel of Jesus Christ through uplifting music and messages. We aim to bring hope, that is true and permanent, and healing to lives, especially the vulnerable ones in our immediate community and the larger society. 
    We are guided by the tenets of the Bible and believes that families can experience peace, love and faith as freely provided by God. Our desire is to encourage life-changing, all-Christian programs, and provide a platform for our listeners to connect with one another, with the community, and most importantly, with The Lord
    In a despairing world, full of negative news headlines, communities struggling with social vices, and individuals with emotional challenges, we desire for SPEAK LIFE through music, for we believe that GOD LISTENS.
  </ion-label>
  <ion-label class="d-block p-4 font-18 co-white">
    Our Objectives are:
  </ion-label>
  <p class="pl-4 pr-4 font-16 co-white">
    • Encourage believers via praise and worship 
  </p>
  <p class="pl-4 pr-4 font-16 co-white">
    • Lead more people to Christ 
  </p>
  <p class="pl-4 pr-4 font-16 co-white">
    • Provide Community Social Responsibility to individuals  
  </p>
</ion-content>
