ion-toolbar {
    --background: #14325c !important;
}

ion-content {
    --background: #02132a;
    ion-list {
        background: transparent;
        ion-item {
            --color: white;
            --color-activated: #14325c;
            --padding-start: 5%;
            --padding-end: 5%;
            --min-height: 58px;
            --background: transparent;
            ion-label {
                padding-left: 10px;
            }
        }
    }
}