<ion-header>
  <ion-toolbar>
    <ion-title class="co-white">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="openModal('mission')">
      <ion-label class="co-white">
        Mission Statement
      </ion-label>
    </ion-item>
    <ion-item (click)="openModal('policy')">
      <ion-label class="co-white">
        Privacy Policy
      </ion-label>
    </ion-item>
    <ion-item (click)="openModal('contact')">
      <ion-label class="co-white">
        Contact Us
      </ion-label>
    </ion-item>
    <ion-item (click)="openModal('about')">
      <ion-label class="co-white">
        About Us
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
