<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item href="google.com">
      <ion-label>
        Notifications
      </ion-label>
    </ion-item>
    <ion-item href="bing.com">
      <ion-label>
        Help
      </ion-label>
    </ion-item>
    <ion-item href="yahoo.com">
      <ion-label>
        About
      </ion-label>
    </ion-item>
    <ion-item href="amazon.com">
      <ion-label>
        Extra
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
