<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="co-white">
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-avatar class="d-block m-auto mt-3">
    <ion-img src="assets/images/olumide.png"></ion-img>
  </ion-avatar>
  <ion-label class="pl-4 pr-4 co-white font-18 d-block text-center">
    Olumide Gbadamosi
  </ion-label>
  <ion-label class="co-white font-16 p-4 d-block text-center">
    Olumide’s love for God and people dates back to his early years as a teenager.
    He experienced that true love that only comes from Christ and believes that others should enjoy similar experience. The idea for the radio station is borne from the painful reality that more people are departing from the church yearly, and the ugly reality that about 600 people, on the average, commits suicide yearly in Norway. This average number has remained unchanged in recent years, despite the investment on clinical and psychological research on the cause root of such tendency. This project is a community social responsibility that hopes to compliments efforts already in place to tackle this challenge.
    It is a platform wherein we Speak live (God’s word and king of music) because God Listens.
  </ion-label>
</ion-content>
