$lightblue: #14325c;
$darkblue: #02132a;
$activegreen: #13acbe;
$white: white;

.bg-darkblue {
    background-color: $lightblue;
}
.bg-lightblue {
    background-color: $lightblue;
}
.co-green {
    color: $activegreen;
}
.co-white {
    color: $white !important;
}