$fonts: 30;
@mixin font-array {
  @for $i from 10 through $fonts {
        .font-#{$i} { 
          font-size:  #{ $i }px !important;
        }
  }
}
@include font-array;

$image-sizes: 40;
@mixin image-size {
  @for $i from 0 through $image-sizes {
        .size-#{$i*10 + 10} { 
          width:  #{ $i*10 + 10 }px;
          height: auto;
        }
  }
}
@include image-size;