ion-header {
    --border-color: transparent !important;
    --border-width: 0px !important;
}
ion-content {
    height: 100vh;
    ion-img {
        width: 80%;
    }
    ion-button {
        width: 70px;
        height: 70px;
        --border-radius: 35px;
        --background: #dddddd;
        --border-color: #a0a0a0;
        --border-style:solid;
        --border-width: 2px;
        ion-icon {
            color: #8b8b8b;
        }
    }
}