<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="d-flex flex-column justify-content-between align-items-center h-75">
    <ion-img src="assets/images/company.png"></ion-img>
    <ion-label class="d-block text-center font-26">FM 107.2</ion-label>
    <ion-button mode="ios" slot="icon-only" *ngIf="!playing && !streaming"  (click)="playAudio()">
      <ion-icon name="play-outline" class="font-28"></ion-icon>
    </ion-button>
    <ion-button mode="ios" slot="icon-only" *ngIf="playing"  (click)="pauseAudio()">
      <ion-icon name="pause-outline" class="font-28"></ion-icon>
    </ion-button>
    <a class="font-20 pt-3" href="https://rehoboth.org">https://radiorehoboth.org</a>
  </div>
</ion-content>
