ion-toolbar {
    --background: #14325c !important;
}
ion-content {
    --background: #02132a;
    ion-button {
        --background: white !important;
        ion-icon {
            color: red
        }
    }
}